/* CSS BY Taylor Fields  */

/* IMPORTED FONTS*/

/* IMPORT "INTER" FROM GOOGLE FONTS"*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lexend+Deca:wght@100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Lexend Deca", sans-serif;
    --header: "Bowlby One SC", sans-serif;
    
}



/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */


/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
body{
    background-color: var(--blue);
     min-width: 400px;
     margin: 0;
     padding: 0;
}
.hero h2,.hero button{
 opacity: 0;
 transform: translateY(-20px);
 animation: topFadeIn 1.6s ease forwards;
}
.container h2, h3, .contact h2{
  opacity: 0;
  transform: translateY(-20px);
  animation: topFadeIn 1.6s ease forwards;
}
.container p, .contact p, .hero p{
  opacity: 0;
  transform: translateY(-20px);
  animation: topFadeIn 0.29s ease forwards;
}
@keyframes topFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/************** HEADER *****************/
header{
    background-color: var(--black);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 6px;
    
}
header h1{   
    display: flex; 
    color:var(--blue);
    font-size: 1.5em;
    font-family: var(--header);
    padding-left: 10px;  
    padding: 10px;
  
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 header h1::before {
    content: "";
    display: inline-block;
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 0.5rem; 
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    flex-shrink: 0;
    animation: floatLogo 2s ease-in-out infinite;
}
@keyframes floatLogo {
    0%, 100% {
        transform: translateY(0);   
    }
    50% {
        transform: translateY(-10px); 
    }
}

/************** NAV ********************/
.menu-icon {
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
    padding-right: 20px;
}
nav:hover .menu-icon {
  transform: scale(0.8);
  pointer-events: none;
  padding-bottom: 50px;
}
.nav {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px 0px;
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
  pointer-events: none;
  transition: opacity 0.35s ease,transform 0.35s ease;
  background-color: var(--black);
}
nav:hover .nav {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}
.nav a{
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
  font-family: var(--font);
  font-size: 1.5em;
}
.nav li {
  padding: 10px 20px;
  transition: 0.5s ease;
}
.nav a:hover{
  color: var(--black);
  transition: 0.1s ease;
  cursor: pointer;
}
.nav li:hover {
  background: var(--blue);
}


/************** HERO *******************/
/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    padding-bottom: 10px; 
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;              
}

.hero h2,
.hero p,
.hero button {
    opacity: 0;
    left: 50%;
    color: var(--white);
    text-align: center;
    margin: 0.5rem 0;
}
.hero h2 {
    font-size: 21px;
    font-family: var(--header);
}

.hero p {
    width: 80%;
    max-width: 700px;
    font-size: 16px;
    font-family: var(--font);
}
.hero button {
    background: var(--blue);
    color: var(--white);
    padding: 12px 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
    transition: transform 0.5s ease, 0.5s ease;
}
.hero button:hover{
   transform: scale(1.1); 
   background-color: var(--red);
    
  
 

}
/*************** MAIN *******************/
main{
    background-color: var(--white);
    padding-top: 30px;    
}
 main h2{
    font-size: 1.2em;
    font-family: var(--header);
    margin-left: 30px;
    color: var(--black);
 }
.our h2{
  font-size: 1.5em;
 }
.our p{
  padding: 20px;
  font-family: var(--font);
}
/************* Sections **************/
.offer{
    padding-bottom: 50px;
}
.offer h2{
   font-size: 1.5em;
   padding-top: 20px; 
}
section{
    background-color: var(--blue);
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    line-height: 1.4em; 
    transition: transform 0.3s ease;
}
section:hover {
  transform: translateY(-10px);
}
section h3{
  font-family: var(--font);
  font-weight: bold;
  font-size: 1.2em;
  color: var(--white);
  padding: 20px;
  padding-top:10px;
}
section p{
    font-family: var(--font);
    color: var(--white);

}
/********** RESULTS *************/
 
.results{
   padding-bottom: 20px;
  
}
.results h2{
  padding-top: 20px;
  font-size: 1.5em;
  font-family: var(--header);
  margin-left: 30px;
  color: var(--white);
}
.results p{
  padding: 20px;
  font-family: var(--font);
  color: var(--white);
}
.results h3{
  font-size: 1.5em;
  font-family: var(--font);
  font-weight: bold;
  margin-left: 30px;
  color: var(--white);
}
table{
  width: 90%;  
  max-width: 800px;
  margin: 40px auto;        
  padding: 30px;
  border: 2px solid var(--charcoal);
  border-collapse: collapse;
  background-color: var(--black);
 
}
table th, td{
 padding: 0.5em;
 border: 1px solid var(--charcoal);
 font-family: var(--font);
 color: var(--white);
 padding: 20px;
}
th{
  font-weight: bold;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
}
td{
     text-align: center;
     color: var(--white);
     vertical-align: middle;
     line-height: 1.2em;
     font-weight: bold;
     font-size: 16px;
}
tr:nth-of-type(odd) {
  background-color: var(--charcoal);
}

/************ CONTACT ***************/
.contact{
    background-color: var(--black);
    padding-bottom: 20px;
}
.contact h2{
  padding-top: 20px;
  font-size: 1.5em;
  font-family: var(--header);
  margin-left: 50px;
  color: var(--white);
}
.contact p{
  text-align: left;
  padding: 40px;
  padding-bottom:10px;
  font-family: var(--font);
  color: var(--white);
}
.field {
  display: flex;
  width:90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 auto;
}
.field label {
  font-weight: bold;
  color: var(--white);
  margin-bottom: 5px;
  font-family: var(--font);
}
.field input,
.field textarea {
  display: flex;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  border: 3px solid var(--blue);
  padding: 8px;
  box-sizing: border-box; 
  transition: transform 0.4s ease, 0.4s ease;
}

.field input{
    height: 40px;
    
}
.field textarea{
  height: 80px;
}
#button{
  width: 100%;
  max-width: 350px;
  padding: 12px;
  background: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto 0;
  display: block;
  box-sizing: border-box;
  transition: transform 0.5s ease, 0.5s ease;
}

#button:hover{
  transform: scale(1.1);
  background-color: var(--red); 
}


/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */

.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.3s ease-in-out;
    animation: stepUp 1s ease-in-out forwards;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}

/*********** FOOTER *************/
footer{
    background-color: var(--black);
    color:var(--white);
    text-align: center;
    padding-bottom: 20px;
}
footer a{
    color: var(--blue);
}



/******************* MEDIA QUERIES (MEDIUM) ***********************/ 
@media (min-width: 800px) {
    .body{
     max-width: 800px;
    }
    .menu-icon {
     display: none;
   }

   .nav {
    position: static;
    opacity: 1 !important;
    transform: none !important;
    pointer-events: auto !important;

    display: flex !important;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
  }

   nav li a {
    text-decoration: none;       
    color: var(--blue);  
    font-family: var(--font); 
    font-size: 1.2em;              
    font-weight: bold;
    padding: 8px 12px;           
    transition: color 0.2s;
}

    .offer{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 16px;                  
    }
    .offer h2 {
    grid-column: 1 / -1;  
    font-size: 1.5em;
    margin-bottom: 10px;
    }
    section h3{
        font-size: 1.2em;
    }
    .offer section {
        justify-self: center;
        padding: 20px;
        width: 100%; 
        box-sizing: border-box; 
        line-height: 1.4em;
    }

   .results-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr; 
     max-width: 800px;   
     gap: 50px; 
     padding: 20px;
     margin: 30px auto 0 auto;
   }
    #bar-chart {
     grid-column: 3 / 5;     
     justify-self: start;     
     padding-left: 20px;       
     margin-top: 60px;        
     max-width: 300px;        
     width: 100%;
   }
  .field {
    width: 100%;
    max-width: 700px; 
  }
  .field label{
    margin-left: 5px;
  }
  .field input,
  .field textarea { 
    width: 100%;
    max-width: 700px; 
    margin: 0 auto;
    border: 3px solid var(--blue)
   }
  .field input{ 
    height: 40px;
    
  }
.field textarea{
  height: 100px;
}
#button{
  width: 100%;
  max-width: 750px;
  padding: 12px;
  background: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto 0;
  display: block;
}
}

/* MEDIA QUERIES (LARGE) */
@media (min-width: 1024px) {

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
}
.hero h2 {
    top: 44%;
}
.hero button {
    top: 57%;
}
.hero p {
    top: 50%;
    width: 80%;
    max-width: 750px;
    font-size: 16px;
    font-family: var(--font);
}

.offer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.offer section{
   line-height: 1.4em;
}
.results-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr; 
     max-width: 1024px;   
     gap: 100px; 
     padding: 20px;
     margin: 30px auto 0 auto;
   }
    #bar-chart {
     grid-column: 3 / 5;     
     justify-self: start;     
     padding-left: 20px;       
     margin-top: 60px;        
     max-width: 300px;        
     width: 100%;
   }
   table{
    width: 400px;
   }
   #bar-chart{
    gap: 30px;
   }

form {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;

    
}
.field {
  display: flex;
  flex-direction: column; 
  width: 400px;           
  max-width: 100%;
   margin: 0 auto;   
}
.field label{
   width: 100%;   
}
.field input{
    width: 400px;

}

.field textarea {
  resize: vertical;  
  width: 400px;   
}

.field #button {
     display: flex; 
     width: 400px;
     height: 40px;
     margin-right: 70px;
    
}

}